<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Quiz App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuiseApp"
        tools:targetApi="31">
        <activity
            android:name=".slide_in_bottom"
            android:exported="false" />
        <activity
            android:name=".DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".ChangeYP"
            android:exported="false" />
        <activity
            android:name=".dialog_delete_account"
            android:exported="false" />
        <activity
            android:name=".dialog_change_password"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".Biology"
            android:exported="false" />
        <activity
            android:name=".Physics"
            android:exported="false" />
        <activity
            android:name=".Chemistry"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginIntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>